<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "NaganoCake", root_path, class: "fas fa-birthday-cake" %>
    <%= render "layouts/header" %>

    <p class="notice"><%= notice %>

    <p class="alert"><%= alert %>

    <main>
    <%= yield %>
    </main>

  </body>
</html>
